footer {
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: #333;
  text-decoration: None;
}

.footer-links {
  padding-top: 10px;
}

.footer-links a {
  padding-right: 10px;
}
